<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>blog - Assemblysoft Services</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="./css/screen.css">

    <meta name="description" content="News and developments">
    <link rel="canonical" href="https://services.assemblysoft.com/tag/blog/">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <meta property="og:site_name" content="Assemblysoft Services">
    <meta property="og:type" content="website">
    <meta property="og:title" content="blog - Assemblysoft Services">
    <meta property="og:description" content="News and developments">
    <meta property="og:url" content="https://services.assemblysoft.com/tag/blog/">
    <meta property="og:image" content="https://services.assemblysoft.com/content/images/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg">
    <meta property="article:publisher" content="https://www.facebook.com/AssemblySoft/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="blog - Assemblysoft Services">
    <meta name="twitter:description" content="News and developments">
    <meta name="twitter:url" content="https://services.assemblysoft.com/tag/blog/">
    <meta name="twitter:image" content="https://services.assemblysoft.com/content/images/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg">
    <meta name="twitter:site" content="">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1280">

    @*<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Series",
    "publisher": {
        "@type": "Organization",
        "name": "Assemblysoft Services",
        "url": "https://services.assemblysoft.com/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://services.assemblysoft.com/content/images/2020/09/4.png",
            "width": 174,
            "height": 50
        }
    },
    "url": "https://services.assemblysoft.com/tag/blog/",
    "image": {
        "@type": "ImageObject",
        "url": "https://services.assemblysoft.com/content/images/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg",
        "width": 1920,
        "height": 1280
    },
    "name": "blog",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://services.assemblysoft.com/"
    },
    "description": "News and developments"
}
    </script>*@

    <meta name="generator" content="Ghost 3.32">
    <link rel="alternate" type="application/rss+xml" title="Assemblysoft Services" href="https://services.assemblysoft.com/rss/">
</head>
<body>
    <header class="site-archive-header">
        <div class="outer site-nav-main">
            <div class="inner">
                <nav class="site-nav">
                    <div class="site-nav-left-wrapper">
                        <div class="site-nav-left">
                            <!--<a class="site-nav-logo" href="https://services.assemblysoft.com"><img src="/content/images/2020/09/4.png" alt="Assemblysoft Services" /></a>-->
                            <a class="site-nav-logo" href="https://www.assemblysoft.com/"><img src="./images/4.png" alt="Back to Assemblysoft home"></a>
                            <div class="site-nav-content">
                                <ul class="nav">
                                    <li class="nav-how-it-works"><a href="https://services.assemblysoft.com/transform-your-ideas-into-software-products/">How it works</a></li>
                                    <li class="nav-turning-an-idea-into-software"><a href="https://services.assemblysoft.com/helping-entrepreneurs-turn-ideas-into-real-solutions/">Turning an idea into software</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="site-nav-right">
                        <ul class="nav">
                            <li class="nav-business-services"><a href="https://services.assemblysoft.com/tag/business-services/">Business Services</a></li>
                            <li class="nav-blog nav-current"><a href="https://services.assemblysoft.com/tag/blog/">Blog</a></li>
                            <li class="nav-case-studies"><a href="https://services.assemblysoft.com/tag/use-cases/">Case Studies</a></li>
                        </ul>


                    </div>
                </nav>
            </div>
        </div>

        <style type="text/css">
    .responsive-header-img {
        background-image: url(/images/olivier-guillard-xnGu_KGrqX8-unsplash.jpg);
    }

   @* @media(max-width: 1000px) {
        .responsive-header-img {
            background-image: url(/content/images/size/w1000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg);
            background-image: -webkit-image-set(url(/content/images/size/w1000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 1x,
                url(/content/images/size/w2000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 2x);
            background-image: image-set(url(/content/images/size/w1000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 1x,
                url(/content/images/size/w2000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 2x);
        }
    }

    @media(max-width: 600px) {
        .responsive-header-img {
            background-image: url(/content/images/size/w600/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg);
            background-image: -webkit-image-set(url(/content/images/size/w600/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 1x,
                url(/content/images/size/w1000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 2x);
            background-image: image-set(url(/content/images/size/w600/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 1x,
                url(/content/images/size/w1000/2020/10/olivier-guillard-xnGu_KGrqX8-unsplash.jpg) 2x);
        }
    }*@
        </style>
        <div class="outer site-header-background responsive-header-img">


            <div class="inner site-header-content">
                <h1 class="site-title">blog</h1>
                <h2 class="site-description">
                    News and developments
                </h2>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section class="copyright"><a href="https://services.assemblysoft.com/">Assemblysoft Services</a> © 2022</section>
            <nav class="site-footer-nav">
                <a href="https://services.assemblysoft.com/">Latest Posts</a>
                <a href="https://www.facebook.com/AssemblySoft/" target="_blank" rel="noopener">Facebook</a>
                <a href="https://twitter.com/Carl_Randall" target="_blank" rel="noopener">Twitter</a>
                <a href="https://www.assemblysoft.com/" "=" " target="_blank" rel="noopener">Assemblysoft Home</a>
            </nav>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
